<header x-data="{ isOpen: false }" class="bg-white border-b">
    <nav class="container mx-auto px-6 py-3">
        <div class="flex flex-col md:flex-row md:justify-between md:items-center">
            <div class="flex justify-between items-center">
                <div class="flex items-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTERTqZnQjl2lYWZk12a4iRR1GZY0AsUD5idw&usqp=CAU"
                         class="w-8">
                    <a class="text-gray-800 text-xl ms-4 font-bold md:text-2xl hover:text-gray-700"
                       href="{% url 'dashboard' %}">{{ store_title }}</a>
                    <div class="mx-10 hidden md:block">
                        <input type="text"
                               class="w-32 lg:w-64 px-4 py-3 leading-tight text-sm text-gray-700 bg-gray-100 rounded-md placeholder-gray-500 border border-transparent focus:outline-none focus:bg-white focus:shadow-outline focus:border-blue-400"
                               placeholder="Search" aria-label="Search">
                    </div>
                </div>

                <!-- Mobile menu button -->
                <div class="flex md:hidden">
                    <button @click="isOpen = !isOpen" type="button"
                            class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600"
                            aria-label="toggle menu">
                        <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                            <path fill-rule="evenodd"
                                  d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
            <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <div class="md:flex items-center" :class="isOpen ? 'block' : 'hidden'">
                <div class="flex text-gray-800 flex-col mt-2 md:flex-row md:mt-0 md:mx-1">
                    <a class="my-1 leading-5 hover:text-blue-600 md:mx-4 md:my-0"
                       href="{% url 'dashboard' %}">Home</a>
                    <a class="my-1 leading-5 hover:text-blue-600 md:mx-4 md:my-0"
                       href="{% url 'dashboard' %}">Products</a>

                    <a class="my-1 leading-5 hover:text-blue-600 md:mx-4 md:my-0"
                       href="{% url 'contact' %}">Contact</a>
                </div>
                <div class="flex">
                    <button data-dropdown-toggle="cart" data-dropdown-trigger="click" type="button"
                            class="relative p-2">
                        <i class="fa-solid text-xl fa-cart-shopping" style="color:red;"></i>
                        <span class="sr-only">Cart</span>
                        {% if cart_count %}
                            <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2">
                                {{ cart_count }}
                            </div>
                        {% endif %}
                    </button>

                    <div id="cart"
                         class="w-full z-50 hidden max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8">
                        <div class="items-center justify-between mb-4">
                            <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Latest
                                Customers</h5>
                            {% if cart_count > 0 %}
                                <a href="{% url 'cartList' %}"
                                   class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
                                    View all
                                </a>
                            {% endif %}
                        </div>
                        <div class="flow-root">
                            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">

                                {% for item in cart_products %}

                                    <li class="py-3 sm:py-4">
                                        <div class="flex items-center space-x-4">
                                            <div class="flex-shrink-0">
                                                <img class="w-8 h-8 rounded-full"
                                                     src="{{ item.product.image.url }}" alt="Michael image">
                                            </div>
                                            <div class="flex-1 min-w-0">
                                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                                    {{ item.product.name }}
                                                </p>
                                                {% if not user.is_authenticated %}
                                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                                        qty: {{ item.qty }}
                                                    </p>
                                                {% else %}
                                                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                                        qty: {{ item.quantity }}
                                                    </p>
                                                {% endif %}
                                            </div>
                                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                                ${{ item.product.price }}
                                            </div>
                                        </div>
                                    </li>

                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% if not user.is_authenticated %}
                        </div>
                        <div class="flex items-center py-2 -mx-1 md:mx-0">
                            <a class="block w-1/2 px-3 py-2 mx-1 rounded text-center text-sm bg-gray-500 font-medium text-white leading-5 hover:bg-blue-600 md:mx-2 md:w-auto"
                               href="{% url 'login' %}">Login</a>
                            <a class="block w-1/2 px-3 py-2 mx-1 rounded text-center text-sm bg-blue-500 font-medium text-white leading-5 hover:bg-blue-600 md:mx-0 md:w-auto"
                               href="{% url 'register' %}">Join free</a>
                        </div>

                    {% endif %}


                {% if user.is_authenticated %}
                    <div class="flex items-center md:order-2 ps-4">
                        <button type="button"
                                class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300"
                                id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                                data-dropdown-placement="bottom">
                            <span class="sr-only">Open user menu</span>
                            <img class="w-8 h-8 rounded-full" src=""
                                 alt="user photo">
                        </button>
                        <!-- Dropdown menu -->
                        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                             id="user-dropdown">
                            <div class="px-4 py-3">
                                <span class="block text-sm text-gray-900 dark:text-white">{{ user.last_name }} {{ user.first_name }}</span>
                                <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">{{ user.email }}</span>
                            </div>
                            <ul class="py-2" aria-labelledby="user-menu-button">
                                <li>
                                    <a href="{% url 'dashboard' %}"
                                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
                                </li>
                                <li>
                                    <a href="{% url 'my-order' %}"
                                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">My
                                        Orders</a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}"
                                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Log
                                        out</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Dropdown menu -->

                        <button data-collapse-toggle="mobile-menu-2" type="button"
                                class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                aria-controls="mobile-menu-2" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                {% endif %}


                <!-- Search input on mobile screen -->
                <div class="mt-3 md:hidden">
                    <input type="text"
                           class="w-full px-4 py-3 leading-tight text-sm text-gray-700 bg-gray-100 rounded-md placeholder-gray-500 focus:outline-none focus:bg-white focus:shadow-outline"
                           placeholder="Search" aria-label="Search">
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="sticky top-0 shadow z-40">
    <div class="bg-white py-4 px-24">

        {% for category in categories %}
            {% if category.products.count != 0 %}
                <a class="text-3sm text-gray-800 p-2 rounded hover:bg-gray-100 leading-5 hover:text-blue-600 px-4 md:my-0"
                   href="{% url 'dashboard' %}product/{{ category.id }}">{{ category.name }}</a>
            {% endif %}
            {% if category.children.count != 0 %}
                <a data-dropdown-toggle="dropdownHover{{ category.id }}" data-dropdown-trigger="hover"
                   class="text-3sm text-gray-800 p-2 rounded hover:bg-gray-100 leading-5 hover:text-blue-600 px-4 md:my-0 cursor-pointer">{{ category.name }}</a>
                <div id="dropdownHover{{ category.id }}"
                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-98 dark:bg-gray-700">
                    <ul class="py-2 text-2sm text-gray-800 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
                        {% for child in category.children.all %}
                            <li>
                                <a href="{% url 'dashboard' %}product/{{ child.id }}"
                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{ child.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>