{% extends 'dashboard.html' %}


{% block body %}
<p class="text-2xl pt-8 pb-4 font-semibold-600 px-24">{{ category_name }}</p>
<hr class="mx-24">
<section class="text-gray-600 body-font px-24">
    <div class="container py-16 mx-auto">
        <div class="flex flex-wrap -m-4">
            {% for product in products %}
            <div class="lg:w-1/4 md:w-1/2 max-w-xs transition duration-300 ease-in-out hover:shadow-lg p-8 rounded-xl">
                <a class="block relative h-48 rounded overflow-hidden" href="{{ product.id }}">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                         src="{{ product.image.url }}">
                </a>
                <a href="{{ product.id }}">
                    <div class="mt-4">
                        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{ product.category.name }}</h3>
                        <h2 class="text-gray-900 title-font text-lg font-medium">{{ product.name }}</h2>
                        <p class="mt-1">${{ product.price }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock body %}