{% extends 'dashboard.html' %}
{% block body %}

    <section class="text-gray-600 px-24 body-font overflow-hidden">
        <div class="container px-5 pt-8 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
                <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-full object-cover object-center rounded"
                     src="{{ product.image.url }}">
                <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                    <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2>
                    <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{ product.name }}</h1>
                    <div class="flex mb-4">
          <span class="flex items-center">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                 stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                 stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                 stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                 stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                 class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <span class="text-gray-600 ml-3">4 Reviews</span>
          </span>
                        <span class="flex ml-3 pl-3 py-2 border-l-2 border-gray-200 space-x-2s">
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                   viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                   viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                   viewBox="0 0 24 24">
                <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
              </svg>
            </a>
          </span>
                    </div>
                    <p class="leading-relaxed">{{ product.description | safe }}</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="flex items-center mb-4">
                            <button id="decrementBtn" type="button"
                                    class="bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded-l">
                                -
                            </button>
                            <input id="quantityInput" name="qty" type="number" class="border-gray-300 text-center w-20"
                                   value="1">
                            <button id="incrementBtn" type="button"
                                    class="bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded-r">
                                +
                            </button>
                        </div>
                        <button name="addtocart"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Добавить в корзину
                        </button>
                    </form>
                    {% if messages %}
                        {% for message in messages %}
                            <p {% if message.tags %} class="font-red-900" {% endif %}>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <p class="px-24 text-2xl pt-8">Recommended for you ></p>
    <section class="text-gray-600 body-font px-24">
        <div class="container py-16 mx-auto">
            <div class="flex flex-wrap -m-4">
                {% for product in recommended %}
                    <div class="lg:w-1/4 md:w-1/2 p-4 w-full transition duration-300 ease-in-out hover:shadow-lg p-8 rounded-xl">
                        <a class="block relative h-48 rounded overflow-hidden" href="{{ product.id }}">
                            <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                                 src="{{ product.image.url }}">
                        </a>
                        <div class="mt-4">
                            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{ product.category }}</h3>
                            <h2 class="text-gray-900 title-font text-lg font-medium">{{ product.name }}</h2>
                            <p class="mt-1">$ {{ product.price }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script>
        // Counter funktsiyasi
        function updateCounter(increment) {
            const quantityInput = document.getElementById('quantityInput');
            let currentValue = parseInt(quantityInput.value);
            let newValue = currentValue + increment;

            // Kerakli limitlarni o'zgartirishingiz mumkin
            const maxQuantity = 1000; // Maksimal mahsulot soni
            const minQuantity = 1; // Minimal mahsulot soni

            // Mahsulot sonini limitlar oraliqida saqlash
            if (newValue > maxQuantity) {
                newValue = maxQuantity;
            } else if (newValue < minQuantity) {
                newValue = minQuantity;
            }

            quantityInput.value = newValue;
        }

        // Minus tugmasi bosilganda
        document.getElementById('decrementBtn').addEventListener('click', function () {
            updateCounter(-1); // Mahsulot sonini 1 tag decrease qilish
        });

        // Plus tugmasi bosilganda
        document.getElementById('incrementBtn').addEventListener('click', function () {
            updateCounter(1); // Mahsulot sonini 1 tag increase qilish
        });


    </script>

{% endblock body %}